@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



/* ======================================================
                    BASIC CSS
=================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
:root{
    --main-color:#242f51;
}

section{
    padding: 80px 0;
}
.btn-1{
    font-size: 1rem;
    font-weight: 600;
    background-color: #2500f9;
    color: #fff;
    border-radius: 2rem;
    padding: 0.375rem 1.5rem;
}

.btn-1:hover{
    background-color: #fcae61;
    color: #fff;
}

.btn-2{
    font-size: 1rem;
    font-weight: 600;
    color: #2500f9;
}
.btn-2:hover{
    background-color: #fcae61;
    color: #fff;
    border-radius: 2rem;
    padding: 0.375rem 1.5rem;
}

/* ======================================================
                    MAIN CSS
=================================================== */

/* header area */

header .main_menu h2{
    font-size: 40px;
    font-weight: 700;
    color: #fcae61;
}

header .main_menu h2 span{
    color: var(--main-color);
}

header .main_menu .nav-link{
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
}

header .main_menu .nav-link:hover{
    color: #fcae61;
}

/* banner area */
#banner .content{
    margin-top: 150px;
}

#banner .content .bhead span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
}

